<!DOCTYPE html>
{% extends '__base__.html' %}

{% block title %}主页{% endblock %}

{% block beforehead %}

<script>
    function initVM(data) {
        $('#vm').show();
        var vm = new Vue({
            el: '#vm',
            data: {
                blogs: data.blogs,
                page: data.page
            }
        });
    }
    $(function() {
        getJSON('/api/blogs', {
            page: {{ page_index }}
        }, function (err, results) {
            if (err) {
                return fatal(err);
            }
            $('#loading').hide();
            initVM(results);
        });
    });
</script>



{% block content %}

    <div id="error" class="uk-width-1-1"></div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="vm" class="uk-width-medium-3-4">
        <article  v-repeat="blog: blogs" class="uk-article">
            <h2><a v-attr="href: '/blog/'+blog.id" v-text="blog.name"></a></h2>
            <p class="uk-article-meta">发表于<span v-text="blog.created_at.toDateTime()"></span></p>
            <p><span v-text="blog.summary"></span></p>
            <p><a v-attr="href: '/blog/'+blog.id">继续阅读 </a><i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
        <div v-component="pagination" v-with="page"></div>
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">编程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">读书</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000">Python教程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="#">Git教程</a></li>
            </ul>
        </div>
    </div>

{% endblock %}